@font-face{
	font-family:'Sinkin_sans100_thin';
		src:url('fonts/SinkinSans-100Thin-webfont.eot');
		src:url('fonts/SinkinSans-100Thin-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/SinkinSans-100Thin-webfont.svg') format('svg'),
			url('fonts/SinkinSans-100Thin-webfont.woff2') format('woff2'),
			url('fonts/SinkinSans-100Thin-webfont.woff') format('woff'),
			url('fonts/SinkinSans-100Thin-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans100_thin_italic';
	src:url('fonts/SinkinSans-100ThinItalic-webfont.eot');
	src:url('fonts/SinkinSans-100ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-100ThinItalic-webfont.svg') format('svg'),
		url('fonts/SinkinSans-100ThinItalic-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-100ThinItalic-webfont.woff') format('woff'),
		url('fonts/SinkinSans-100ThinItalic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans200_x_light';
	src:url('fonts/SinkinSans-200XLight-webfont.eot');
	src:url('fonts/SinkinSans-200XLight-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-200XLight-webfont.svg') format('svg'),
		url('fonts/SinkinSans-200XLight-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-200XLight-webfont.woff') format('woff'),
		url('fonts/SinkinSans-200XLight-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans200_x_light_italic';
	src:url('fonts/SinkinSans-200XLightItalic-webfont.eot');
	src:url('fonts/SinkinSans-200XLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-200XLightItalic-webfont.svg') format('svg'),
		url('fonts/SinkinSans-200XLightItalic-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-200XLightItalic-webfont.woff') format('woff'),
		url('fonts/SinkinSans-200XLightItalic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans300_light';
	src:url('fonts/SinkinSans-300Light-webfont.eot');
	src:url('fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-300Light-webfont.svg') format('svg'),
		url('fonts/SinkinSans-300Light-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-300Light-webfont.woff') format('woff'),
		url('fonts/SinkinSans-300Light-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans300_light_italic';
	src:url('fonts/SinkinSans-300LightItalic-webfont.eot');
	src:url('fonts/SinkinSans-300LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-300LightItalic-webfont.svg') format('svg'),
		url('fonts/SinkinSans-300LightItalic-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-300LightItalic-webfont.woff') format('woff'),
		url('fonts/SinkinSans-300LightItalic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans400_italic';
	src:url('fonts/SinkinSans-400Italic-webfont.eot');
	src:url('fonts/SinkinSans-400Italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-400Italic-webfont.svg') format('svg'),
		url('fonts/SinkinSans-400Italic-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-400Italic-webfont.woff') format('woff'),
		url('fonts/SinkinSans-400Italic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans400_regular';
	src:url('fonts/SinkinSans-400Regular-webfont.eot');
	src:url('fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-400Regular-webfont.svg') format('svg'),
		url('fonts/SinkinSans-400Regular-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
		url('fonts/SinkinSans-400Regular-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans500_medium';
	src:url('fonts/SinkinSans-500Medium-webfont.eot');
	src:url('fonts/SinkinSans-500Medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/SinkinSans-500Medium-webfont.svg') format('svg'),
	url('fonts/SinkinSans-500Medium-webfont.woff2') format('woff2'),
	url('fonts/SinkinSans-500Medium-webfont.woff') format('woff'),
	url('fonts/SinkinSans-500Medium-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans500_medium_italic';
	src:url('fonts/SinkinSans-500MediumItalic-webfont.eot');
	src:url('fonts/SinkinSans-500MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-500MediumItalic-webfont.svg') format('svg'),
		url('fonts/SinkinSans-500MediumItalic-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-500MediumItalic-webfont.woff') format('woff'),
		url('fonts/SinkinSans-500MediumItalic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans600_semibold';
	src:url('fonts/SinkinSans-600SemiBold-webfont.eot');
	src:url('fonts/SinkinSans-600SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-600SemiBold-webfont.svg') format('svg'),
		url('fonts/SinkinSans-600SemiBold-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-600SemiBold-webfont.woff') format('woff'),
		url('fonts/SinkinSans-600SemiBold-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans600SBdIt';
	src:url('fonts/SinkinSans-600SemiBoldItali-webfont.eot');
	src:url('fonts/SinkinSans-600SemiBoldItali-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-600SemiBoldItali-webfont.svg') format('svg'),
		url('fonts/SinkinSans-600SemiBoldItali-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-600SemiBoldItali-webfont.woff') format('woff'),
		url('fonts/SinkinSans-600SemiBoldItali-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans700_bold';
	src:url('fonts/SinkinSans-700Bold-webfont.eot');
	src:url('fonts/SinkinSans-700Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-700Bold-webfont.svg') format('svg'),
		url('fonts/SinkinSans-700Bold-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-700Bold-webfont.woff') format('woff'),
		url('fonts/SinkinSans-700Bold-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans700_bold_italic';
	src:url('fonts/SinkinSans-700BoldItalic-webfont.eot');
	src:url('fonts/SinkinSans-700BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-700BoldItalic-webfont.svg') format('svg'),
		url('fonts/SinkinSans-700BoldItalic-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-700BoldItalic-webfont.woff') format('woff'),
		url('fonts/SinkinSans-700BoldItalic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}




@font-face{
	font-family:'Sinkin_sans800_black';
	src:url('fonts/SinkinSans-800Black-webfont.eot');
	src:url('fonts/SinkinSans-800Black-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-800Black-webfont.svg') format('svg'),
		url('fonts/SinkinSans-800Black-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-800Black-webfont.woff') format('woff'),
		url('fonts/SinkinSans-800Black-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans800_black_italic';
	src:url('fonts/SinkinSans-800BlackItalic-webfont.eot');
	src:url('fonts/SinkinSans-800BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-800BlackItalic-webfont.svg') format('svg'),
		url('fonts/SinkinSans-800BlackItalic-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-800BlackItalic-webfont.woff') format('woff'),
		url('fonts/SinkinSans-800BlackItalic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans900_x_black';
	src:url('fonts/SinkinSans-900XBlack-webfont.eot');
	src:url('fonts/SinkinSans-900XBlack-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-900XBlack-webfont.svg') format('svg'),
		url('fonts/SinkinSans-900XBlack-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-900XBlack-webfont.woff') format('woff'),
		url('fonts/SinkinSans-900XBlack-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'Sinkin_sans900_x_black_italic';
	src:url('fonts/SinkinSans-900XBlackItalic-webfont.eot');
	src:url('fonts/SinkinSans-900XBlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/SinkinSans-900XBlackItalic-webfont.svg') format('svg'),
		url('fonts/SinkinSans-900XBlackItalic-webfont.woff2') format('woff2'),
		url('fonts/SinkinSans-900XBlackItalic-webfont.woff') format('woff'),
		url('fonts/SinkinSans-900XBlackItalic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}